*,div,ul,li,ol,li,p{
    padding:0;
    margin:0;
    border:0;
    font-family: "微软雅黑", Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.container{
    max-width: 70%;
}
/*banner*/
.banner{
    margin-top: 0.3rem;
    overflow: hidden;
}
.banner .banner-left{
    width: 78%;
    float: left;
}
.banner .banner-left .carousel-inner img{
    width: 100%;
}
.banner .banner-right{
    float: right;
    width: 21%;
}
.banner .banner-right .carousel-inner img{
    width: 100%;
    height: 3.05rem;
}
.banner .banner-right .carousel-indicators li {
    width: 0.3rem;
    height: 0.05rem;
    border-radius: 0;
    background: #fff;
}
.banner .banner-right .carousel-indicators .active {
    background-color: #FF9800;
    border: 1px solid #FF9800;
}
/*banner*/

.content{
    margin-top: 0.3rem;
}
.content .con-con{
    border: 1px solid #bbb;
    padding: 0.55rem 0.78rem;
}
.content .con-con .title-xq{
    font-size: 0.16rem;
    padding-bottom: 0.2rem;
    text-align: center;
}
.content .con-con .title-xq p:first-child{
    font-size: 0.18rem;
}
.content .con-con .text-xq{
    overflow: hidden;
}
.content .con-con .text-xq .left{
    float: left;
    width: 30%;
    border: 1px solid #bbb;
    padding: 0.3rem 0.3rem 0.67rem;
}
.content .con-con .text-xq .left .dian{
    font-size: 0.2rem;
    color: #3F51B5;
}
.content .con-con .text-xq .left .wz{
    margin-top: 0.2rem;
    color: #666;
    line-height: 0.3rem;
}
.content .con-con .text-xq .left .wz img{
    margin: 0.2rem 0;
}
.content .con-con .text-xq .left .dian img{
    width: 0.3rem;
}
.content .con-con .text-xq .right{
    float: left;
    width: 70%;
}

.content .con-con .text-xq .right img{
    width: 100%;
}
@media (max-width: 1660px) and (min-width: 1360px){
    .container{
        width: 70%;
    }
    .content .con-con .text-xq .left {
        width: 35%;
        padding: 0.3rem;
    }
    .content .con-con .text-xq .right {
        width: 65%;
    }
    .content .con-con .text-xq .left .wz img {
        margin: 0.1rem 0;
    }
    .content .con-con .text-xq .left .wz {
        margin-top: 0.14rem;
    }
}
@media screen and (max-width: 1440px){
    html{
        font-size: 80px !important;
    }
    body{
        font-size: 11px !important;
    }
    .content .con-con .text-xq .left {
        padding: 0.2rem 0.3rem;
    }
    .content .con-con .text-xq .left .wz {
        font-size: 0.12rem;
    }
    .content .con-con .text-xq .left .wz {
        line-height: 0.25rem;
    }
}
@media (max-width: 1366px) and (min-width: 1360px){
    .content .con-con .text-xq .left {
        padding: 0.1rem 0.2rem;
    }
    .content .con-con .text-xq .left .wz img {
        margin: 0.06rem 0;
    }
}
@media screen and (max-width: 768px){
    .banner .banner-left {
        width: 100%;
    }
    .banner .banner-right {
        display: none;
    }
    .content .con-con {
        padding: 0.1rem 0.2rem;
    }
    .content .con-con .text-xq .left {
        float: left;
        width: 100%;
        border: 1px solid #bbb;
        padding: 0.15rem 0.15rem 0.33rem;
    }
    .content .con-con .text-xq .left .wz {
        line-height: 0.25rem;
    }
    .content .con-con .text-xq .left .wz img {
        margin: 0.15rem 0;
    }
    .content .con-con .text-xq .right {
        width: 100%;
        margin-top: 0.2rem;
    }
}