*,div,ul,li,ol,li,p{
    padding:0;
    margin:0;
    border:0;
    font-family: "微软雅黑", Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.container{
    max-width: 70%;
}
.header{
    border-bottom:1px solid #bbb;
    line-height: 0.8rem;
}
.header .container{
    position: relative;
}
.header .logo{
    position: absolute;
    top: 13%;
    left: -2.1rem;
    width: 200px;
}
.header span{
    color: #666;
}
.header span a{
    color: #000;
    text-decoration: none;
    margin-left: 0.2rem;
}
.content{
    background: url("../images/timg.jpg")no-repeat;
    background-size: 100%;
}
.content .big{
    width: 45%;
    background: rgba(0,0,0,0.6);
    margin-top: 1.7rem;
    margin-bottom: 1rem;
    border-radius: 0.1rem;
}
.content .top{
    text-align: center;
    color: #dfdfdf;
    padding-top: 1.05rem;
}
.content .top p:first-child{
    font-size: 0.28rem;
    padding-bottom: 0.1rem;
}
.content .choose{
    text-align: center;
    color: #fff;
    margin-top: 0.5rem;
}
.content ul{
    overflow: hidden;
    padding: 0.5rem 0 1.55rem;
}
.content ul li{
    width: 25.333%;
    float: left;
    list-style: none;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 0.05rem;
    margin-left: 6%;
}
.content ul li a{
    color: #fff;
    display: block;
    line-height: 1.5rem;
    text-decoration: none;
}
@media screen and (max-width: 1680px){
    .content .big {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 1660px) and (min-width: 1360px){
    .header .container {
        width: 60%;
    }
    .container{
        width: 60%;
    }
    .guang img{
        width: 100%;
        margin-top: 0.35rem;
    }
    .content .big {
        margin-top: 0.9rem;
        width: 45%;
    }
    .content .top {
        padding-top: 0.8rem;
    }
    .content ul {
        padding: 0.5rem 0 1.5rem;
    }
}
@media screen and (max-width: 1440px){
    html{
        font-size: 80px !important;
    }
    body{
        font-size: 11px !important;
    }
    .content .top p:first-child {
        font-size: 0.22rem;
    }
    .content ul {
        padding: 0.5rem 0 1rem;
    }
    .content .top {
        padding-top: 0.7rem;
    }
}
@media (max-width: 1366px) and (min-width: 1360px) {
    .header .container {
        width: 60%;
    }
    .container{
        width: 65%;
    }
    .guang img{
        width: 100%;
        margin-top: 0.35rem;
    }
    .content .big {
        margin-top: 0.6rem;
    }
    .content .top {
        padding-top: 0.5rem;
    }
}
@media screen and (max-width: 768px){
    .container {
        max-width: 100% !important;
    }
    .content {
        background-size: 500%;
    }
    .content .big {
        width: 100%;
        margin-top: 0.45rem;
        margin-bottom: 0.5rem;
    }
    .header .logo {
        position: static;
        top: 6%;
        left: -2.1rem;
        width: 1.25rem;
    }
}
@media (max-width: 375px) and (min-width: 360px){
    .header span a {
        display: none;
    }
}
@media screen and (max-width: 320px){
    .header .logo {
        width: 1.05rem;
    }
    .content .top {
        padding-top: 0.3rem;
    }
    .content {
        background-size: 700%;
    }
    .header span a {
        display: none;
    }
}