*,div,ul,li,ol,li,p{
    padding:0;
    margin:0;
    border:0;
    font-family: "微软雅黑", Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.content{
    overflow: hidden;
    margin-top: 15px;
}
.content .left .center a:nth-child(2){
    color:#fff;
    background:#3f51b5
}
.content .right{
    float: right;
    width: 68%;
    margin-top: 20px;
    -webkit-box-shadow:  0 0 30px #888888;
    -moz-box-shadow:  0 0 30px #888888;
    box-shadow:  0 0 30px #888888;
    padding: 0 20px 50px;
}
.content .right .top{
    padding: 15px 0;
    border-bottom: 1px solid #bbb;
}
.content .right .top span{
    margin-left: 8px;
    font-size: 18px;
}
.content .right .con-con .title{
    overflow: hidden;
    margin-top: 20px;
}
.content .right .con-con .title li{
    float: left;
    list-style: none;
    margin-left: 10px;
}
.content .right .con-con .title li.active a{
    background: #3f51b5;
    color: #fff;
}
.content .right .con-con .title li:first-child{
    margin-left: 0%;
}
.content .right .con-con .title li a{
    display: block;
    border: 1px solid #bbb;
    border-radius: 10px;
    color: #666;
    padding: 18px 45px;
    text-decoration: none;
}
.content .right .con-con .con-wz{
    margin-top: 35px;
}
.content .right .con-con .con-wz li{
    list-style: none;
}
.content .right .con-con .con-wz li.active{
    display: block;
}
.content .right .con-con .con-wz li p{
    border-bottom: 1px solid #bbb;
    padding: 11px 0;
}
.content .right .con-con .con-wz li p:last-child{
    border: none;
}
.content .right .con-con .con-wz li .con-title{
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}
.content .right .con-con .con-wz li .con-title span{
    width: 16%;
    float: left;
}
.content .right .con-con .con-wz li .con-title span:first-child{
    width: 80%;
}
.content .right .con-con .con-wz li .wz-con{
    overflow: hidden;
    padding: 11px 10px;
}
.content .right .con-con .con-wz li .wz-con span{
    width: 16%;
    float: left;
    color: #717171;
    text-align: center;
}
.content .right .con-con .con-wz li .wz-con span:first-child{
    width: 80%;
    text-align: left;
}
.content .right .con-con .con-wz li .wz-con span a{
    display: block;
    width: 60%;
    margin: 5px auto 0;
    text-align: center;
    color: #fff;
    background: #e51c23;
    padding: 2px 0;
    border-radius: 10px;
    text-decoration: none;
}
.content .right .con-con .con-wz li .wz-con span a:first-child{
    background: #3f51b5;
    margin-top: 0;
}

@media (max-width: 1660px) and (min-width: 1360px){
    .container{
        width: 70%;
    }
}
@media screen and (max-width: 768px){
    .content .right {
        width: 100%;
    }
    .content .right .con-con .title li a {
        padding: 10px 25px;
    }
    .content .right .con-con .con-wz {
        width: 100%;
        overflow-x: scroll;
    }
    .content .right .con-con .con-wz li {
        width: 700px;
    }
    .content .right {
        margin-bottom: 20px;
    }
}