*,div,ul,li,ol,li,p{
    padding:0;
    margin:0;
    border:0;
    font-family: "微软雅黑", Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.container{
    max-width: 70%;
}
/*banner*/
.banner{
    margin-top: 0.15rem;
    overflow: hidden;
}
.banner .banner-left{
    width: 78%;
    float: left;
}
.banner .banner-left .carousel-inner img{
    width: 100%;
}
.banner .banner-right{
    float: right;
    width: 21%;
}
.banner .banner-right .carousel-inner img{
    width: 100%;
    height: 3.06rem;
}
.banner .banner-right .carousel-indicators li {
    width: 0.3rem;
    height: 0.05rem;
    border-radius: 0;
    background: #fff;
}
.banner .banner-right .carousel-indicators .active {
    background-color: #FF9800;
    border: 1px solid #FF9800;
}
.carousel-control {
    top: 50%;
    width: 4%;
    background: rgba(0,0,0,0.8);
    height: 22%;
    margin-top: -3%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    font-size: 25px;
}
.carousel-control:focus, .carousel-control:hover {
    background: rgba(0,127,255,1);
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -13px;
    margin-top: -16px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -13px;
    margin-top: -16px;
}
.carousel-control.left {
    border-radius: 0 5px 5px 0;
}
.carousel-control.right {
    border-radius: 5px 0 0 5px;
}
.glyphicon-chevron-left:before {
    content: none;
}
.glyphicon-chevron-right:before {
    content: none;
}
.glyphicon-chevron-left img{
    width: 0.3rem;
}
.glyphicon-chevron-right img{
    width: 0.3rem;
}

/*广告*/
.advertising{
    margin-top: 0.15rem;
    overflow: hidden;
}
.advertising .banner-left{
    float: left;
    width: 31%;
}
.advertising .banner-left .img-div{
    height: 1.28rem;
    width: 100%;
    overflow: hidden;
}
.advertising .banner-left .img-div:last-child{
    margin-top:0.1rem;
}
.advertising .banner-left .img-div img{
    display: block;
    width: 100%;
    height:100%;
}
.advertising .banner-right{
    float: right;
    width: 68%;
}
.advertising .banner-right .carousel-caption {
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    bottom:0;
    padding: 0.1rem 0.25rem;
    text-align: left;
    color: #e9e8e8;
}
.advertising .banner-right .carousel-caption p:first-child{
    font-size: 0.16rem;
}
/*广告*/

/*最新上线*/
.new{
    margin-top: 0.4rem;
}
.new .top{
    color: #002873;
    font-size: 0.28rem;
}
.new .top span{
    font-size: 0.16rem;
    padding-left: 0.2rem;
}
.new .content .con-top ul{
    overflow: hidden;
    background: #f2f4f7;
    margin-top: 0.4rem;
    border: 1px solid #bbbbbb;
}
.new .content .con-top ul li{
    float: left;
    list-style: none;
    width: 12.5%;
    text-align: center;
    padding: 0.23rem 0;
}
.new .content .con-top ul li a{
    text-decoration: none;
    color: #101010;
}
.new .content .con-top ul .active{
    background: #3f51b5;
}
.new .content .con-top ul .active a{
    color: #fff;
    display: block;
}
.new .content .con-con{
    background: #f2f4f7;
    margin-top: 0.3rem;
    border: 1px solid #bbbbbb;
    padding: 0.44rem 0.25rem;
}
.new .content .con-con ul li{
    list-style: none;
    overflow: hidden;
    margin-top: 0.4rem;
}
.new .content .con-con ul li:first-child{
    margin-top:0;
}
.new .content .con-con ul li img{
    float: left;
    width: 15%;
}
.new .content .con-con ul li .nr{
    float: right;
    width: 80%;
    border: 1px solid #bbbbbb;
    padding: 0.17rem 0.3rem;
    overflow: hidden;
    background: #fff;
}
.new .content .con-con ul li .nr .nr-left{
    float: left;
    width: 80%;
}
.new .content .con-con .nr .nr-left .nr-top{
    color: #002873;
    font-size: 0.22rem;
    font-weight: bold;
}
.new .content .con-con .nr .nr-left .nr-top span{
    background: #259b24;
    color: #fff;
    padding: 0.03rem 0.08rem;
    font-size: 0.14rem;
    border-radius: 0.05rem;
    margin-left: 0.2rem;
}
.new .content .con-con .nr .nr-left .nr-top span.hot{
    background: #e51c23;
}
.new .content .con-con .nr .nr-left .nr-con{
    padding-left: 0.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #002873;
}
.new .content .con-con .nr .nr-left .nr-biao{
    overflow: hidden;
    margin-top: 0.22rem;
}
.new .content .con-con .nr .nr-left .nr-biao p{
    float: left;
    color: #999;
    margin-left: 0.3rem;
}
.new .content .con-con .nr .nr-left .nr-biao p:first-child{
    margin-left:0;
}
.new .content .con-con .nr .nr-left .nr-biao p img{
    margin-top: 0.05rem;
    width: 10%;
}
.new .content .con-con ul{
    display: none;
}
.new .content .con-con ul.active{
    display: block;
}
.new .content .con-con ul li .nr .nr-right{
    float: right;
    width: 15%;
}
.new .content .con-con ul li .nr .nr-right a{
    display: block;
    text-align: center;
    border: 1px solid #3f51b5;
    color: #10357b;
    text-decoration: none;
    border-radius: 0.1rem;
    padding: 0.05rem 0;
    margin-top:0.15rem;
}
.new .content .more img{
    width: 0.3rem;
}
.new .content .more a{
    color: #10357b;
    font-size: 0.16rem;
    display: block;
    text-align: right;
    text-decoration: none;
    margin-top: 0.25rem;
}
.new .content .more img{
    margin-right: 0.05rem;
}
/*最新上线*/

.guang img{
    width: 100%;
    margin-top:0.4rem;
}

/*最热下载*/
.hottest{
    margin-top: 0.4rem;
}
.hottest .top{
    color: #002873;
    font-size: 0.28rem;
}
.hottest .top span{
    font-size: 0.16rem;
    padding-left: 0.2rem;
}
.hottest .content .con-top ul{
    overflow: hidden;
    background: #f2f4f7;
    margin-top: 0.4rem;
    border: 1px solid #bbbbbb;
}
.hottest .content .con-top ul li{
    float: left;
    list-style: none;
    width: 12.5%;
    text-align: center;
    padding: 0.23rem 0;
}
.hottest .content .con-top ul li a{
    text-decoration: none;
    color: #101010;
}
.hottest .content .con-top ul .active{
    background: #3f51b5;
}
.hottest .content .con-top ul .active a{
    color: #fff;
    display: block;
}
.hottest .content .con-con ul{
    overflow: hidden;
}
.hottest .content .con-con ul li{
    list-style: none;
    overflow: hidden;
    margin-top: 0.4rem;
    width: 48%;
    float: left;
    margin-left: 2%;
}
.hottest .content .con-con ul li img{
    float: left;
    width: 22%;
}
.hottest .content .con-con ul li .nr{
    float: right;
    width: 78%;
    padding-left: 0.17rem;
    overflow: hidden;
}
.hottest .content .con-con ul li .nr .nr-left{
    float: left;
    width: 100%;
}
.hottest .content .con-con .nr .nr-left .nr-top{
    color: #002873;
    font-size: 0.22rem;
    font-weight: bold;
}
.hottest .content .con-con .nr .nr-left .nr-top span{
    background: #259b24;
    color: #fff;
    padding: 0.03rem 0.08rem;
    font-size: 0.14rem;
    border-radius: 0.05rem;
    margin-left: 0.2rem;
}
.hottest .content .con-con .nr .nr-left .nr-con{
    padding-left: 0.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #002873;
}
.hottest .content .con-con .nr .nr-left .nr-biao{
    overflow: hidden;
    margin-top: 0.1rem;
}
.hottest .content .con-con .nr .nr-left .nr-biao p{
    float: left;
    color: #999;
    width: 35%;
}
.hottest .content .con-con .nr .nr-left .nr-biao p:first-child{
    width: 40%;
}
.hottest .content .con-con .nr .nr-left .nr-biao p:last-child{
    width: 25%;
}
.hottest .content .con-con .nr .nr-left .nr-biao p:first-child{
    margin-left:0;
}
.hottest .content .con-con .nr .nr-left .nr-biao p a{
    text-align: center;
    display: inline-block;
    border: 1px solid #3f51b5;
    color: #10357b;
    text-decoration: none;
    border-radius: 0.1rem;
    padding: 0.05rem 0.1rem;
}
.hottest .content .con-con .nr .nr-left .nr-biao p img{
    margin-top: 0.05rem;
    width: 0.15rem;
}
.hottest .content .con-con ul{
    display: none;
    margin-left:-2%;
}
.hottest .content .con-con ul.active{
    display: block;
}
.hottest .content .con-con ul li{
    background: #f2f4f7;
    border: 1px solid #bbbbbb;
    padding: 0.2rem 0.1rem;
}
.hottest .content .con-con ul li .nr .nr-right{
    float: right;
    width: 15%;
}
.hottest .content .con-con ul li .nr .nr-right a{
    display: block;
    text-align: center;
    border: 1px solid #3f51b5;
    color: #10357b;
    text-decoration: none;
    border-radius: 0.1rem;
    padding: 0.05rem 0;
    margin-top:0.15rem;
}
/*最热下载*/



@media (max-width: 1660px) and (min-width: 1360px){
    .container{
        width: 70%;
    }
    .advertising .banner-left .img-div {
        height: 1.6rem;
    }
}
@media screen and (max-width: 1440px){
    html{
        font-size: 80px !important;
    }
    body{
        font-size: 11px !important;
    }
    .advertising .banner-left .img-div {
        height: 1.58rem;
    }
}
@media (max-width: 1366px) and (min-width: 1360px) {
    .advertising .banner-left .img-div {
        height: 1.34rem;
    }
    .new .content .con-con .nr .nr-left .nr-biao p {
        margin-left: 0.15rem;
    }
    .new .content .con-con ul li .nr {
        padding: 0.17rem 0.2rem;
    }
    .new .content .con-con ul li .nr .nr-left {
        width: 75%;
    }
    .new .content .con-con ul li .nr .nr-right {
        float: right;
        width: 20%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p {
        width: 50%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p:first-child {
        width: 50%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p:last-child {
        width: 50%;
        margin-top:0.05rem;
    }
    .hottest .content .con-con ul li {
        margin-left: 1.5%;
    }
}
@media screen and (max-width: 768px){
    .container {
        max-width: 100% !important;
    }
    .banner .banner-left {
        width: 100%;
    }
    .banner .banner-right {
        display: none;
    }
    .advertising .banner-left {
        width: 100%;
    }
    .advertising .banner-right {
        width: 100%;
        margin-top: 0.2rem;
    }
    .advertising .banner-right .carousel-caption {
        padding: 0.05rem 0.1rem;
    }
    .advertising .banner-right .carousel-caption p:first-child {
        font-size: 0.16rem;
    }
    .advertising .banner-right .carousel-caption p:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .new .content .con-top ul li {
        width: 25%;
    }
    .new .content .con-con ul li img {
        width: 100%;
    }
    .new .content .con-con ul li .nr {
        width: 100%;
        padding: 0.17rem 0.3rem;
    }
    .new .content .con-con .nr .nr-left .nr-biao p {
        margin-left: 0;
        width: 100%;
    }
    .new .content .con-con ul li .nr .nr-left {
        width: 100%;
    }
    .new .content .con-con ul li .nr .nr-right {
        width: 100%;
    }
    .new .content .con-con .nr .nr-left .nr-biao p img {
        width: 6%;
    }
    .new .content .more a {
        margin-top: 0.1rem;
        font-size: 0.16rem;
    }
    .new .content .more img {
        width: 7%;
    }
    .guang img {
        margin-top: 0.3rem;
    }
    .hottest {
        margin-top: 0.3rem;
    }
    .hottest .top {
        font-size:0.2rem;
    }
    .hottest .top span {
        font-size:0.14rem;
    }
    .hottest .content .con-top ul {
        margin-top: 0.2rem;
    }
    .hottest .content .con-top ul li {
        width: 25%;
    }
    .hottest .content .con-con ul li {
        width: 100%;
        margin-left: 0;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p {
        width: 100%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p:first-child {
        width: 100%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p:last-child {
        width: 100%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p a {
        margin-top: 0.05rem;
    }
    .hottest .content .con-con ul li img {
        width: 100%;
    }
    .hottest .content .con-con ul li .nr {
        width: 100%;
        margin-top: 0.1rem;
    }
}