*,div,ul,li,ol,li,p{
    padding:0;
    margin:0;
    border:0;
    font-family: "微软雅黑", Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
/*banner*/
.container{
    max-width: 70%;
}
.banner{
    margin-top: 30px;
    overflow: hidden;
}
.banner .banner-left{
    width: 78%;
    float: left;
}
.banner .banner-left .carousel-inner img{
    width: 100%;
}
.banner .banner-right{
    float: right;
    width: 21%;
}
.banner .banner-right .carousel-inner img{
    width: 100%;
}
.banner .banner-right .carousel-indicators li {
    width: 30px;
    height: 5px;
    border-radius: 0;
    background: #fff;
}
.banner .banner-right .carousel-indicators .active {
    background-color: #FF9800;
    border: 1px solid #FF9800;
}

/*广告*/
.advertising{
    margin-top: 30px;
    overflow: hidden;
}
.advertising .banner-left{
    float: left;
    width: 31%;
}
.advertising .banner-left img{
    display: block;
    width: 100%;
    height: 170px;
}
.advertising .banner-left img:last-child{
    margin-top:20px;
}
.advertising .banner-right{
    float: right;
    width: 68%;
}
.advertising .banner-right .carousel-caption {
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    bottom:0;
    padding:20px 25px;
    text-align: left;
    color: #e9e8e8;
}
.advertising .banner-right .carousel-caption p:first-child{
    font-size: 20px;
    padding-bottom:5px;
}
/*广告*/

/*最新上线*/
.new{
    margin-top: 70px;
}
.new .top{
    color: #002873;
    font-size: 28px;
}
.new .top span{
    font-size: 16px;
    padding-left: 20px;
}
.new .content .con-top ul{
    overflow: hidden;
    background: #f2f4f7;
    margin-top: 40px;
    border: 1px solid #bbbbbb;
}
.new .content .con-top ul li{
    float: left;
    list-style: none;
    width: 12.5%;
    text-align: center;
    padding: 23px 0;
}
.new .content .con-top ul li a{
    text-decoration: none;
    color: #101010;
}
.new .content .con-top ul .active{
    background: #3f51b5;
}
.new .content .con-top ul .active a{
    color: #fff;
    display: block;
}
.new .content .con-con{
    background: #f2f4f7;
    margin-top: 30px;
    border: 1px solid #bbbbbb;
    padding: 44px 25px;
}
.new .content .con-con ul li{
    list-style: none;
    overflow: hidden;
    margin-top: 40px;
}
.new .content .con-con ul li:first-child{
    margin-top:0;
}
.new .content .con-con ul li img{
    float: left;
    width: 15%;
}
.new .content .con-con ul li .nr{
    float: right;
    width: 80%;
    border: 1px solid #bbbbbb;
    padding: 17px 30px;
    overflow: hidden;
    background: #fff;
}
.new .content .con-con ul li .nr .nr-left{
    float: left;
    width: 80%;
}
.new .content .con-con .nr .nr-left .nr-top{
    color: #002873;
    font-size: 22px;
    font-weight: bold;
}
.new .content .con-con .nr .nr-left .nr-top span{
    background: #259b24;
    color: #fff;
    padding: 3px 8px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 20px;
}
.new .content .con-con .nr .nr-left .nr-top span.hot{
    background: #e51c23;
}
.new .content .con-con .nr .nr-left .nr-con{
    padding-left: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #002873;
}
.new .content .con-con .nr .nr-left .nr-biao{
    overflow: hidden;
    margin-top: 22px;
}
.new .content .con-con .nr .nr-left .nr-biao p{
    float: left;
    color: #999;
    margin-left: 30px;
}
.new .content .con-con .nr .nr-left .nr-biao p:first-child{
    margin-left:0;
}
.new .content .con-con .nr .nr-left .nr-biao p img{
    margin-top: 5px;
}
.new .content .con-con ul{
    display: none;
}
.new .content .con-con ul.active{
    display: block;
}
.new .content .con-con ul li .nr .nr-right{
    float: right;
    width: 15%;
}
.new .content .con-con ul li .nr .nr-right a{
    display: block;
    text-align: center;
    border: 1px solid #3f51b5;
    color: #10357b;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 0;
    margin-top:15px;
}
.new .content .more a{
    color: #10357b;
    font-size: 18px;
    display: block;
    text-align: right;
    text-decoration: none;
    margin-top: 25px;
}
.new .content .more img{
    margin-right: 5px;
}
/*最新上线*/

.guang img{
    width: 100%;
    margin-top:80px;
}

/*最热下载*/
.hottest{
    margin-top: 70px;
}
.hottest .top{
    color: #002873;
    font-size: 28px;
}
.hottest .top span{
    font-size: 16px;
    padding-left: 20px;
}
.hottest .content .con-top ul{
    overflow: hidden;
    background: #f2f4f7;
    margin-top: 40px;
    border: 1px solid #bbbbbb;
}
.hottest .content .con-top ul li{
    float: left;
    list-style: none;
    width: 12.5%;
    text-align: center;
    padding: 23px 0;
}
.hottest .content .con-top ul li a{
    text-decoration: none;
    color: #101010;
}
.hottest .content .con-top ul .active{
    background: #3f51b5;
}
.hottest .content .con-top ul .active a{
    color: #fff;
    display: block;
}
.hottest .content .con-con ul{
    overflow: hidden;
}
.hottest .content .con-con ul li{
    list-style: none;
    overflow: hidden;
    margin-top: 40px;
    width: 48%;
    float: left;
    margin-left: 2%;
}
.hottest .content .con-con ul li img{
    float: left;
    width: 22%;
}
.hottest .content .con-con ul li .nr{
    float: right;
    width: 78%;
    padding-left: 17px;
    overflow: hidden;
}
.hottest .content .con-con ul li .nr .nr-left{
    float: left;
    width: 100%;
}
.hottest .content .con-con .nr .nr-left .nr-top{
    color: #002873;
    font-size: 22px;
    font-weight: bold;
}
.hottest .content .con-con .nr .nr-left .nr-top span{
    background: #259b24;
    color: #fff;
    padding: 3px 8px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 20px;
}
.hottest .content .con-con .nr .nr-left .nr-con{
    padding-left: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #002873;
}
.hottest .content .con-con .nr .nr-left .nr-biao{
    overflow: hidden;
    margin-top: 10px;
}
.hottest .content .con-con .nr .nr-left .nr-biao p{
    float: left;
    color: #999;
    width: 35%;
}
.hottest .content .con-con .nr .nr-left .nr-biao p:first-child{
    width: 40%;
}
.hottest .content .con-con .nr .nr-left .nr-biao p:last-child{
    width: 25%;
}
.hottest .content .con-con .nr .nr-left .nr-biao p:first-child{
    margin-left:0;
}
.hottest .content .con-con .nr .nr-left .nr-biao p a{
    text-align: center;
    display: inline-block;
    border: 1px solid #3f51b5;
    color: #10357b;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 10px;
}
.hottest .content .con-con .nr .nr-left .nr-biao p img{
    margin-top: 5px;
    width: 15px;
}
.hottest .content .con-con ul{
    display: none;
    margin-left:-2%;
}
.hottest .content .con-con ul.active{
    display: block;
}
.hottest .content .con-con ul li{
    background: #f2f4f7;
    border: 1px solid #bbbbbb;
    padding: 20px 10px;
}
.hottest .content .con-con ul li .nr .nr-right{
    float: right;
    width: 15%;
}
.hottest .content .con-con ul li .nr .nr-right a{
    display: block;
    text-align: center;
    border: 1px solid #3f51b5;
    color: #10357b;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px 0;
    margin-top:15px;
}
/*最热下载*/



@media (max-width: 1660px) and (min-width: 1360px){
    .container{
        width: 70%;
    }
    .advertising .banner-left img {
        height: 160px;
    }
}
@media screen and (max-width: 1440px){
    html{
        font-size: 80px !important;
    }
    body{
        font-size: 11px !important;
    }
    .advertising .banner-left img {
        height: 1.58rem;
    }
}
@media (max-width: 1366px) and (min-width: 1360px) {
    .search form .search-k {
        width: 580px;
    }
    .search form select {
        padding: 17px 35px;
    }
    .advertising .banner-left img {
        height: 134px;
    }
    .new .content .con-con .nr .nr-left .nr-biao p {
        margin-left: 15px;
    }
    .new .content .con-con ul li .nr {
        padding: 17px 20px;
    }
    .new .content .con-con ul li .nr .nr-left {
        width: 75%;
    }
    .new .content .con-con ul li .nr .nr-right {
        float: right;
        width: 20%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p {
        width: 50%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p:first-child {
        width: 50%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p:last-child {
        width: 50%;
        margin-top:5px;
    }
    .hottest .content .con-con ul li {
        margin-left: 1.5%;
    }
    .footer .top .left {
        width: 60%;
    }
    .footer .top .right {
        width: 40%;
    }
    .footer .top .right .er {
        width: 40%;
    }
    .footer .top .right .address {
        width: 60%;
    }
}
@media screen and (max-width: 768px){
    .navbar-nav {
        margin-left: 0;
        text-align: center;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
         border-color: #fff;
    }
    .search form {
        padding: 0;
    }
    .search form img{
        width: 15%;
    }
    .search form .search-k {
        width: 83%;
        padding: 12px 25px;
    }
    .search form select {
        padding: 12px 62px;
        width: 100%;
        margin-top: 10px;
    }
    .banner .banner-left {
        width: 100%;
    }
    .banner .banner-right {
        display: none;
    }
    .advertising .banner-left {
        width: 100%;
    }
    .advertising .banner-right {
        width: 100%;
        margin-top: 20px;
    }
    .advertising .banner-right .carousel-caption {
        padding: 5px 10px;
    }
    .advertising .banner-right .carousel-caption p:first-child {
        font-size: 16px;
    }
    .advertising .banner-right .carousel-caption p:last-child {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .new .content .con-top ul li {
        width: 25%;
    }
    .new .content .con-con ul li img {
        width: 100%;
    }
    .new .content .con-con ul li .nr {
        width: 100%;
        padding: 17px 30px;
    }
    .new .content .con-con .nr .nr-left .nr-biao p {
        margin-left: 0;
        width: 100%;
    }
    .new .content .con-con ul li .nr .nr-left {
        width: 100%;
    }
    .new .content .con-con ul li .nr .nr-right {
        width: 100%;
    }
    .new .content .con-con .nr .nr-left .nr-biao p img {
        width: 6%;
    }
    .new .content .more a {
        margin-top: 10px;
        font-size: 16px;
    }
    .new .content .more img {
        width: 7%;
    }
    .guang img {
        margin-top: 30px;
    }
    .hottest {
        margin-top: 30px;
    }
    .hottest .top {
        font-size: 20px;
    }
    .hottest .top span {
        font-size: 14px;
    }
    .hottest .content .con-top ul {
        margin-top: 20px;
    }
    .hottest .content .con-top ul li {
        width: 25%;
    }
    .hottest .content .con-con ul li {
        width: 100%;
        margin-left: 0;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p {
        width: 100%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p:first-child {
        width: 100%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p:last-child {
        width: 100%;
    }
    .hottest .content .con-con .nr .nr-left .nr-biao p a {
        margin-top: 5px;
    }
    .hottest .content .con-con ul li img {
        width: 100%;
    }
    .hottest .content .con-con ul li .nr {
        width: 100%;
        margin-top: 10px;
    }
    .footer {
        padding-top: 40px;
    }
    .footer .top .left {
        width: 100%;
    }
    .footer .top .right {
        width: 100%;
        margin-top:30px;
    }
    .footer .top .right .er {
        width: 40%;
    }
    .footer .top .right .address {
        width: 60%;
        float: left;
    }
}