*,div,ul,li,ol,li,p{
    padding:0;
    margin:0;
    border:0;
    font-family: "微软雅黑", Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.container{
    max-width: 70%;
}
.content{
    overflow: hidden;
    margin-top: 0.15rem;
}
.content .left .center a:nth-child(2){
    color:#fff;
    background:#3f51b5
}
.content .right{
    float: right;
    width: 68%;
    margin-top: 0.2rem;
    -webkit-box-shadow:  0 0 0.3rem #888888;
    -moz-box-shadow:  0 0 0.3rem #888888;
    box-shadow:  0 0 0.3rem #888888;
    padding: 0 0.2rem 0.5rem;
}
.content .right .top{
    padding: 0.15rem 0;
    border-bottom: 1px solid #bbb;
}
.content .right .top span{
    margin-left: 0.08rem;
    font-size: 0.18rem;
}
.content .right .con-con .title{
    overflow: hidden;
    margin-top: 0.2rem;
}
.content .right .con-con .title li{
    float: left;
    list-style: none;
    margin-left: 0.1rem;
}
.content .right .con-con .title li.active a{
    background: #3f51b5;
    color: #fff;
}
.content .right .con-con .title li:first-child{
    margin-left: 0%;
}
.content .right .con-con .title li a{
    display: block;
    border: 1px solid #bbb;
    border-radius: 0.1rem;
    color: #666;
    padding: 0.18rem 0.45rem;
    text-decoration: none;
}
.content .right .con-con .con-wz{
    margin-top: 0.35rem;
}
.content .right .con-con .con-wz li{
    list-style: none;
}
.content .right .con-con .con-wz li.active{
    display: block;
}
.content .right .con-con .con-wz li p{
    border-bottom: 1px solid #bbb;
    padding: 0.11rem 0;
}
.content .right .con-con .con-wz li p:last-child{
    border: none;
}
.content .right .con-con .con-wz li .con-title{
    font-size: 0.16rem;
    text-align: center;
    overflow: hidden;
}
.content .right .con-con .con-wz li .con-title span{
    width: 14%;
    float: left;
}
.content .right .con-con .con-wz li .con-title span:first-child{
    width: 28%;
}
.content .right .con-con .con-wz li .wz-con{
    overflow: hidden;
    padding: 0.11rem 0.1rem;
}
.content .right .con-con .con-wz li .wz-con span{
    width: 14%;
    float: left;
    color: #717171;
    text-align: center;
}
.content .right .con-con .con-wz li .wz-con span:first-child{
    width: 28%;
    text-align: left;
}
.content .right .con-con .con-wz li .wz-con span a{
    display: block;
    width: 60%;
    margin: 5px auto 0;
    text-align: center;
    color: #fff;
    background: #e51c23;
    padding: 0.02rem 0;
    border-radius: 0.1rem;
    text-decoration: none;
}
.content .right .con-con .con-wz li .wz-con span a:first-child{
    background: #3f51b5;
    margin-top: 0;
}

@media (max-width: 1660px) and (min-width: 1360px){
    .container{
        width: 70%;
    }
}
@media screen and (max-width: 1440px){
    html{
        font-size: 80px !important;
    }
    body{
        font-size: 11px !important;
    }
}
@media screen and (max-width: 768px){
    .container {
        max-width: 100% !important;
    }
    .content .right {
        width: 100%;
    }
    .content .right .con-con .title li a {
        padding: 0.1rem 0.25rem;
    }
    .content .right .con-con .con-wz {
        width: 100%;
        overflow-x: scroll;
    }
    .content .right .con-con .con-wz li {
        width: 7rem;
    }
    .content .right {
        margin-bottom: 0.2rem;
    }
}