*,div,ul,li,ol,li,p{
    padding:0;
    margin:0;
    border:0;
    font-family: "微软雅黑", Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.container{
    max-width: 70%;
}
.content .item {
    width: 1rem;
    height: 1rem;
    float: left;
    position: relative;
    margin-left:0.1rem;
}
.content .addImg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}
.content .preview,.preBlock{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
}
.content .delete {
    width: 0.2rem;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    display: none;
}
.content .preBlock img {
    display: block;
}
.content .upload_input{
    display: block;
    width: 0;
    height: 0;
    -webkit-opacity: 0.0;
    /* Netscape and Older than Firefox 0.9 */
    -moz-opacity: 0.0;
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
    -khtml-opacity: 0.0;
    /* IE9 + etc...modern browsers */
    opacity: .0;
    /* IE 4-9 */
    filter:alpha(opacity=0);
    /*This works in IE 8 & 9 too*/
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /*IE4-IE9*/
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.content{
    overflow: hidden;
    margin-top: 0.15rem;
}
.content .left .center a:nth-child(4){
    color:#fff;
    background:#3f51b5
}
.content .right{
    float: right;
    width: 68%;
    margin-top: 0.2rem;
    -webkit-box-shadow:  0 0 0.3rem #888888;
    -moz-box-shadow:  0 0 0.3rem #888888;
    box-shadow:  0 0 0.3rem #888888;
    padding: 0 0.2rem 0.5rem;
    margin-bottom: 0.2rem;
}
.content .right .top{
    padding: 0.15rem 0;
    border-bottom: 1px solid #bbb;
}
.content .right .top span{
    margin-left: 0.08rem;
    font-size: 0.18rem;
}
.content .right .con-con .title{
    overflow: hidden;
    margin-top: 0.2rem;
}
.content .right .con-con .title li{
    float: left;
    list-style: none;
    margin-left: 0.1rem;
}
.content .right .con-con .title li.active a{
    background: #3f51b5;
    color: #fff;
}
.content .right .con-con .title li:first-child{
    margin-left: 0;
}
.content .right .con-con .title li a{
    display: block;
    border: 1px solid #bbb;
    border-radius: 0.1rem;
    color: #666;
    padding: 0.18rem 0.45rem;
    text-decoration: none;
}
.content .right .con-con .con-wz{
    margin-top: 0.35rem;
}
.content .right .con-con .con-wz li{
    list-style: none;
    display: none;
}
.content .right .con-con .con-wz li.active{
    display: block;
}
.content .right .con-con .con-wz li form{
    width: 60%;
    margin: 0 auto;
}
.content .right .con-con .con-wz li form .lab{
    overflow: hidden;
    font-weight: normal;
    display: block;
    width: 100%;
    margin-top: 0.15rem;
}
.content .right .con-con .con-wz li form .lab span{
    width: 15%;
    text-align: right;
    float: left;
    line-height: 0.4rem;
}
.content .right .con-con .con-wz li form .lab .con-right{
    margin-left: 0.13rem;
    overflow: hidden;
    float: left;
}
.content .right .con-con .con-wz li form .lab .inp{
    border: 1px solid #bbb;
    width: 80%;
    float: right;
    display: block;
    padding: 0.1rem 0.15rem;
    border-radius: 0.1rem;
    outline: none;
}
.content .right .con-con .con-wz li form .tijiao{
    display: block;
    width: 30%;
    margin-left: 20%;
    padding: 0.1rem 0;
    border-radius: 0.1rem;
    background: #3f51b5;
    color: #fff;
    margin-top: 0.45rem;
}


@media (max-width: 1660px) and (min-width: 1360px){
    .container{
        width: 70%;
    }
}
@media screen and (max-width: 1440px){
    .content .right .con-con .con-wz li form .lab span {
        width: 20%;
    }
    .content .right .con-con .con-wz li form .lab .inp {
        width: 75%;
    }
}
@media screen and (max-width: 1440px){
    html{
        font-size: 80px !important;
    }
    body{
        font-size: 11px !important;
    }
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 100% !important;
    }
    .content .right {
        width: 100%;
    }
    .content .right .con-con .title li a {
        padding: 10px 0.25rem;
    }
    .content .right .con-con .con-wz li form {
        width: 90%;
    }
    .content .right .con-con .con-wz li form .lab span {
        width: 100%;
        text-align: left;
        line-height: 0.3rem;
    }
    .content .right .con-con .con-wz li form .lab .inp {
        width: 100%;
    }
    .content .right .con-con .con-wz li form .lab {
        margin-top: 0.1rem;
    }
}